.page {
    overflow: hidden;
    transition: opacity 500ms ease-in-out;
}

.page-enter {
    opacity: 0;
    /* transform: translateX(100%); */
}

.page-enter-active {
    /* transform: translateX(0); */
    opacity: 1;
}

.page-exit-active {
    /* transform: translateX(-100%); */
    opacity: 0;
}
